<?xml version="1.0"?>
<model>
  <name>3DR Iris with stereo FPV camera</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_stereo.sdf</sdf>

  <author>
   <name>Dong Shuo</name>
   <email>dongshuo@giai.tech</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with stereo FPV camera. The original model has been created by
    Thomas Gubler and Lorenz Meier, stereo camera and other modifications is added by Haoran Song.
  </description>
</model>
